Repository tirea-ai/tirea: changes, and which lefthook commands are due for each by the changed paths.
All: check-doc-content, lint-staged

check-doc-content:
  run: "# æ£€æŸ¥è¢«ä¿®æ”¹çš„æ–‡æ¡£ï¼ˆæ’é™¤ runbooksï¼‰\nmodified_docs=$(git diff --cached --name-only --diff-filter=AM | grep -E '^docs/.*\\.md$' | grep -vE '^docs/runbooks/' || true)\n\nif [ -z \"$modified_docs\" ]; then\n  exit 0\nfi\n\n# é¡¹ç›®ç®¡ç†æœ¯è¯­ï¼ˆä¸­è‹±æ–‡ï¼‰\nFORBIDDEN_TERMS=\"(Author:|
  ...

lint-staged:
  run: "if [ \"${CI:-}\" = \"true\" ]; then\n  pnpm exec dprint fmt {staged_files}\nelse\n  echo \"lint-staged skipped (CI only)\"\nfi\n"
  stage_fixed: true

🧩 refactor(protocol): align thread-first contracts and integration tests
  crates/tirea-agentos-server/tests/a2a_http.rs
  crates/tirea-agentos-server/tests/common/mod.rs
  crates/tirea-agentos-server/tests/cross_crate_integration_matrix.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_nats_postgres.rs
  crates/tirea-agentos-server/tests/functional_protocol_matrix.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-protocol-ag-ui/src/context.rs
  crates/tirea-protocol-ag-ui/src/output_encoder.rs
  crates/tirea-protocol-ag-ui/src/types.rs
  crates/tirea-protocol-ag-ui/tests/agent_integration.rs
  crates/tirea-protocol-ai-sdk-v6/src/encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/history_encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
  crates/tirea-protocol-ai-sdk-v6/tests/message_id_contract.rs
Due: none

♻️ refactor(runtime): narrow public action and state paths
  crates/tirea-contract/src/runtime/phase/action_set.rs
  crates/tirea-contract/src/runtime/state/spec.rs
  crates/tirea-contract/src/runtime/tool_call/tool.rs
  crates/tirea-extension-skills/src/tools.rs
  docs/book/src/reference/actions.md
  docs/book/src/reference/typed-tool.md
Due: check-doc-content, lint-staged

⬆️ deps(genai): upgrade to 0.6.0-beta.4 with typed StopReason
  Cargo.lock
  Cargo.toml
  crates/tirea-agent-loop/Cargo.toml
  crates/tirea-agent-loop/src/runtime/loop_runner/mod.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  crates/tirea-agent-loop/src/runtime/streaming.rs
  crates/tirea-agentos-server/Cargo.toml
  crates/tirea-agentos/Cargo.toml
  crates/tirea-extension-observability/Cargo.toml
  crates/tirea-protocol-ag-ui/Cargo.toml
  crates/tirea-protocol-ai-sdk-v6/Cargo.toml
  examples/Cargo.toml
Due: none

🐛 fix(agent-loop): structured LLM error classification replaces keyword matching
  crates/tirea-agent-loop/src/runtime/loop_runner/mod.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  crates/tirea-agent-loop/tests/otel_telemetry.rs
Due: none

🐛 fix(stop-policy): MaxRounds counts only current run's assistant turns
  crates/tirea-agent-loop/src/runtime/loop_runner/plugin_runtime.rs
  crates/tirea-agentos/src/orchestrator/stop_policy_plugin.rs
  crates/tirea-contract/src/runtime/behavior.rs
  crates/tirea-contract/src/runtime/phase/step.rs
  crates/tirea-contract/src/runtime/run/context.rs
  crates/tirea-state/src/delta_tracked.rs
Due: none

♻️ refactor(agentos): extract registry and runtime service inputs
  crates/tirea-agentos/src/composition/agent_definition.rs
  crates/tirea-agentos/src/composition/builder.rs
  crates/tirea-agentos/src/composition/bundle.rs
  crates/tirea-agentos/src/composition/errors.rs
  crates/tirea-agentos/src/composition/mod.rs
  crates/tirea-agentos/src/composition/registry.rs
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/resolve.rs
Due: none

♻️ refactor(agentos): split large files and extract runtime modules
  crates/tirea-agentos/src/runtime/agent_tools/tests.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/handle_table.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/integration.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/output_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/parallel.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/plugins.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/recovery.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/state_helpers.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/stop_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/output_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/stop_tool.rs
  crates/tirea-agentos/src/runtime/bundle_merge.rs
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/plugin/mod.rs
  crates/tirea-agentos/src/runtime/plugin/skills_wiring.rs
  crates/tirea-agentos/src/runtime/prepare.rs
  crates/tirea-agentos/src/runtime/resolve.rs
  crates/tirea-agentos/src/runtime/run.rs
Due: none

♻️ refactor(agentos): unify task output and cancellation under background tasks
  crates/tirea-agentos/src/runtime/agent_tools/manager.rs
  crates/tirea-agentos/src/runtime/agent_tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/plugins.rs
  crates/tirea-agentos/src/runtime/agent_tools/state.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/handle_table.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/integration.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/output_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/parallel.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/plugins.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/recovery.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/state_helpers.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/stop_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/output_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/stop_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/types.rs
  crates/tirea-agentos/src/runtime/background_tasks/manager.rs
  crates/tirea-agentos/src/runtime/background_tasks/mod.rs
  crates/tirea-agentos/src/runtime/background_tasks/plugin.rs
  crates/tirea-agentos/src/runtime/background_tasks/tools.rs
  crates/tirea-agentos/src/runtime/background_tasks/types.rs
  crates/tirea-agentos/src/runtime/background_tasks/wrapper.rs
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/resolve.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-agentos/src/runtime/types.rs
  crates/tirea-agentos/tests/real_multi_agent_patterns_deepseek.rs
  crates/tirea-agentos/tests/real_multi_subagent_deepseek.rs
  docs/book/src/explanation/multi-agent-design-patterns.md
  docs/book/src/explanation/sub-agent-delegation.md
  docs/book/src/how-to/use-sub-agent-delegation.md
Due: check-doc-content, lint-staged

♻️ refactor(agentos): persist background tasks in task threads
  crates/tirea-agentos/src/runtime/agent_tools/plugins.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/run_tool.rs
  crates/tirea-agentos/src/runtime/background_tasks/manager.rs
  crates/tirea-agentos/src/runtime/background_tasks/mod.rs
  crates/tirea-agentos/src/runtime/background_tasks/plugin.rs
  crates/tirea-agentos/src/runtime/background_tasks/store.rs
  crates/tirea-agentos/src/runtime/background_tasks/tools.rs
  crates/tirea-agentos/src/runtime/background_tasks/types.rs
  crates/tirea-agentos/src/runtime/background_tasks/wrapper.rs
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/resolve.rs
  crates/tirea-agentos/src/runtime/types.rs
Due: none

♻️ refactor(agentos): drop legacy background task state compatibility
  crates/tirea-agentos/src/runtime/agent_tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/plugins.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/integration.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/recovery.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/run_tool.rs
  crates/tirea-agentos/src/runtime/background_tasks/mod.rs
  crates/tirea-agentos/src/runtime/background_tasks/plugin.rs
  crates/tirea-agentos/src/runtime/background_tasks/tools.rs
  crates/tirea-agentos/src/runtime/background_tasks/types.rs
  crates/tirea-agentos/src/runtime/mod.rs
Due: none

♻️ refactor(agent-loop): require run-finished persistence
  crates/tirea-agent-loop/src/runtime/loop_runner/mod.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
Due: none

🔖 release(workspace): bump version to 0.3.0-alpha.3
  Cargo.lock
  Cargo.toml
Due: none

♻️ refactor(agent-loop): type tool call state upserts
  crates/tirea-agent-loop/src/runtime/loop_runner/core.rs
Due: none

♻️ refactor(agent-loop): separate pending patch validation
  crates/tirea-agent-loop/src/runtime/loop_runner/tool_exec.rs
Due: none

♻️ refactor(scope): move extension-specific scope constants to their owning crates
  crates/tirea-agent-loop/tests/skills_integration.rs
  crates/tirea-agentos/src/runtime/policy.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-contract/src/scope.rs
  crates/tirea-extension-permission/src/lib.rs
  crates/tirea-extension-permission/src/plugin.rs
  crates/tirea-extension-permission/src/scope.rs
  crates/tirea-extension-skills/src/discovery_plugin.rs
  crates/tirea-extension-skills/src/lib.rs
  crates/tirea-extension-skills/src/tool_filter.rs
  crates/tirea-extension-skills/src/tools.rs
Due: none

♻️ refactor(workspace): improve crate docs, lib.rs re-exports, and prelude completeness
  crates/tirea-agent-loop/src/lib.rs
  crates/tirea-agentos/src/lib.rs
  crates/tirea-extension-mcp/src/lib.rs
  crates/tirea/src/prelude.rs
Due: none

🔧 fix(workspace): apply rustfmt to all changed files
  crates/tirea-agentos/src/runtime/agent_tools/tests/integration.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/recovery.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/run_tool.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/mod.rs
  crates/tirea-agentos/src/runtime/agent_tools/tools/run_tool.rs
  crates/tirea-agentos/src/runtime/background_tasks/store.rs
  crates/tirea-agentos/src/runtime/background_tasks/wrapper.rs
  crates/tirea-extension-permission/src/lib.rs
  crates/tirea-extension-permission/src/plugin.rs
  crates/tirea-extension-skills/src/discovery_plugin.rs
  crates/tirea-extension-skills/src/tools.rs
  crates/tirea/src/prelude.rs
Due: none

✨ feat(a2ui): add A2UI declarative UI extension with tool, plugin, and frontend renderer
  Cargo.lock
  Cargo.toml
  crates/tirea-agentos-server/Cargo.toml
  crates/tirea-agentos-server/tests/e2e_a2ui.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-extension-a2ui/Cargo.toml
  crates/tirea-extension-a2ui/src/lib.rs
  crates/tirea-extension-a2ui/src/plugin.rs
  crates/tirea-extension-a2ui/src/tool.rs
  crates/tirea-extension-a2ui/src/validate.rs
  e2e/playwright/tests/ai-sdk-a2ui.spec.ts
  e2e/playwright/tests/ai-sdk-backend.spec.ts
  examples/Cargo.toml
  examples/ai-sdk-starter/src/components/chat/chat-input.tsx
  examples/ai-sdk-starter/src/components/chat/chat-panel.tsx
  examples/ai-sdk-starter/src/components/chat/message-list.tsx
  examples/ai-sdk-starter/src/components/tools/a2ui-surface.tsx
  examples/ai-sdk-starter/src/pages/playground-page.tsx
  examples/src/starter_backend/mod.rs
Due: lint-staged

🐛 fix(a2ui): update stale imports to fix CI build
  crates/tirea-agentos-server/tests/e2e_a2ui.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-extension-a2ui/src/plugin.rs
Due: none

📝 docs(book): sync docs with 0.3 codebase and add migration guide
  docs/book/src/appendix/migration.md
  docs/book/src/explanation/architecture.md
  docs/book/src/explanation/hitl-and-decision-flow.md
  docs/book/src/explanation/persistence-and-versioning.md
  docs/book/src/explanation/run-lifecycle-and-phases.md
  docs/book/src/explanation/state-and-patch-model.md
  docs/book/src/explanation/sub-agent-delegation.md
  docs/book/src/how-to/add-a-tool.md
  docs/book/src/how-to/configure-stop-policies.md
  docs/book/src/how-to/debug-a-run.md
  docs/book/src/how-to/expose-http-sse.md
  docs/book/src/how-to/use-mcp-tools.md
  docs/book/src/how-to/use-postgres-store.md
  docs/book/src/how-to/use-sub-agent-delegation.md
  docs/book/src/introduction.md
  docs/book/src/reference/actions.md
  docs/book/src/reference/capability-matrix.md
  docs/book/src/reference/config.md
  docs/book/src/reference/http-api.md
  docs/book/src/reference/protocols/ag-ui.md
  docs/book/src/reference/protocols/ai-sdk-v6.md
  docs/book/src/reference/protocols/nats.md
  docs/book/src/reference/run-api.md
  docs/book/src/reference/run-context.md
  docs/book/src/tutorials/first-agent.md
Due: check-doc-content, lint-staged

♻️ refactor(context): merge ContextManager + ContextWindow into unified ContextPlugin
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/plugin/context.rs
  crates/tirea-agentos/src/runtime/plugin/context_window.rs
  crates/tirea-agentos/src/runtime/plugin/mod.rs
  crates/tirea-agentos/src/runtime/resolve.rs
  crates/tirea-agentos/src/runtime/run.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-contract/src/runtime/inference/context.rs
  docs/book/src/reference/actions.md
Due: check-doc-content, lint-staged

✨ feat(runtime): add ContextManager plugin with boundary-based compression
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/plugin/context_manager.rs
  crates/tirea-agentos/src/runtime/plugin/mod.rs
Due: none

✅ test(context): expand compaction coverage
  crates/tirea-agentos/src/runtime/plugin/context_manager.rs
  crates/tirea-agentos/src/runtime/plugin/context_window.rs
  crates/tirea-contract/src/runtime/inference/context.rs
Due: none

✨ feat(mailbox): wire nats ingress and thread interrupts
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/src/main.rs
  crates/tirea-agentos-server/src/protocol/ag_ui/nats.rs
  crates/tirea-agentos-server/src/protocol/ai_sdk_v6/nats.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/src/service/mod.rs
  crates/tirea-agentos-server/src/transport/nats.rs
  crates/tirea-agentos-server/tests/nats_gateway.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-agentos/src/runtime/thread_run.rs
  crates/tirea-contract/src/storage/mailbox_traits.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/src/postgres_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
Due: none

✨ feat(mailbox): add durable background run mailbox
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/src/main.rs
  crates/tirea-agentos-server/src/protocol/a2a/http.rs
  crates/tirea-agentos-server/src/service/api.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/src/service/mod.rs
  crates/tirea-agentos-server/src/service/run.rs
  crates/tirea-agentos-server/tests/a2a_http.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_http_matrix.rs
  crates/tirea-agentos-server/tests/e2e_nats_postgres.rs
  crates/tirea-agentos-server/tests/e2e_tensorzero.rs
  crates/tirea-agentos-server/tests/explicit_composition.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-agentos-server/tests/phoenix_observability_e2e.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-contract/src/lib.rs
  crates/tirea-contract/src/storage/mailbox_traits.rs
  crates/tirea-contract/src/storage/mailbox_types.rs
  crates/tirea-contract/src/storage/mod.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/src/postgres_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
  examples/src/lib.rs
  examples/src/starter_backend/mod.rs
Due: none

✨ feat(mailbox): add generation-based interrupt supersede
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-contract/src/lib.rs
  crates/tirea-contract/src/storage/mailbox_traits.rs
  crates/tirea-contract/src/storage/mailbox_types.rs
  crates/tirea-contract/src/storage/mod.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/src/postgres_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
Due: none

✨ feat(mailbox): add kind, sender_id, priority envelope fields to MailboxEntry
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-contract/src/storage/mailbox_types.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/src/postgres_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
Due: none

✨ feat(mailbox): dispatcher hardening (max-attempts, concurrency, tracing, GC)
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-contract/src/storage/mailbox_traits.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/src/postgres_store.rs
Due: none

✨ feat(mailbox): classify internal ingress and sanitize queued visibility
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-contract/src/lib.rs
  crates/tirea-contract/src/storage/mailbox_types.rs
  crates/tirea-contract/src/storage/mod.rs
  crates/tirea-contract/src/testing.rs
  crates/tirea-store-adapters/src/postgres_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
Due: none

✨ feat(mailbox): notify parent tasks on background completion
  crates/tirea-agentos-server/src/protocol/a2a/http.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/src/service/mailbox_service.rs
  crates/tirea-agentos-server/tests/a2a_http.rs
  crates/tirea-agentos-server/tests/e2e_a2ui.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_nats_postgres.rs
  crates/tirea-agentos-server/tests/e2e_tensorzero.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-agentos-server/tests/nats_gateway.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests/integration.rs
  crates/tirea-agentos/src/runtime/mod.rs
  crates/tirea-agentos/src/runtime/resolve.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-agentos/tests/real_multi_agent_patterns_deepseek.rs
  crates/tirea-contract/src/storage/mailbox_traits.rs
  crates/tirea-store-adapters/src/file_store.rs
  crates/tirea-store-adapters/src/memory_store.rs
  crates/tirea-store-adapters/tests/memory_store.rs
  crates/tirea-store-adapters/tests/postgres_store.rs
Due: none

✅ fix(agentos): harden A2A delegation and effect-state runtime paths
  crates/tirea-agentos-server/src/protocol/a2a/http.rs
  crates/tirea-agentos-server/src/service/mailbox.rs
  crates/tirea-agentos-server/src/service/mailbox_service.rs
  crates/tirea-agentos-server/tests/a2a_self_validation.rs
  crates/tirea-agentos-server/tests/e2e_nats_postgres.rs
  crates/tirea-agentos-server/tests/run_api.rs
  crates/tirea-agentos/src/composition/builder.rs
  crates/tirea-agentos/src/runtime/agent_tools/backend.rs
  crates/tirea-agentos/src/runtime/agent_tools/state.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests.rs
  crates/tirea-agentos/src/runtime/agent_tools/types.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-agentos/src/runtime/types.rs
  crates/tirea-agentos/tests/mock_nested_subagent.rs
Due: none

📝 docs(api): align guides with spec-based builder and shared config
  Cargo.lock
  crates/tirea-agentos-server/tests/a2a_self_validation.rs
  crates/tirea-agentos-server/tests/e2e_a2ui.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos/src/composition/agent_definition.rs
  crates/tirea-agentos/src/composition/builder.rs
  crates/tirea-agentos/src/runtime/agent_tools/manager.rs
  crates/tirea-agentos/src/runtime/agent_tools/tests.rs
  crates/tirea-agentos/src/runtime/background_tasks/wrapper.rs
  crates/tirea-agentos/src/runtime/tests.rs
  crates/tirea-agentos/tests/mock_nested_subagent.rs
  crates/tirea-extension-a2ui/src/validate.rs
  docs/book/src/explanation/multi-agent-design-patterns.md
  docs/book/src/how-to/build-an-agent.md
  docs/book/src/how-to/configure-stop-policies.md
  docs/book/src/how-to/enable-llmmetry-observability.md
  docs/book/src/how-to/enable-tool-permission-hitl.md
  docs/book/src/how-to/use-file-store.md
  docs/book/src/how-to/use-mcp-tools.md
  docs/book/src/how-to/use-nats-buffered-postgres-store.md
  docs/book/src/how-to/use-postgres-store.md
  docs/book/src/how-to/use-reminder-plugin.md
  docs/book/src/how-to/use-skills-subsystem.md
  docs/book/src/how-to/use-sub-agent-delegation.md
  docs/book/src/reference/config.md
  docs/book/src/reference/protocols/a2a.md
  docs/book/src/tutorials/first-agent.md
  examples/copilotkit-starter/config/agent-config.json
  examples/src/starter_backend/mod.rs
Due: check-doc-content, lint-staged

🧪 test(agent-tools): cover mock nested subagent flows
  crates/tirea-agentos/tests/mock_nested_subagent.rs
Due: none

🔖 chore(release): bump all crates to 0.4.0
  Cargo.toml
  docs/book/src/how-to/use-postgres-store.md
  docs/book/src/tutorials/first-agent.md
  docs/book/src/tutorials/first-tool.md
  docs/book/src/zh-CN/tutorials/first-agent.md
  docs/book/src/zh-CN/tutorials/first-tool.md
Due: check-doc-content, lint-staged

Path conditions:
  check-doc-content: any of: docs/**/*.md
  lint-staged: any of: **/*.{cjs,mjs,js,ts,tsx,json,md,mdx}
