Repository tirea-ai/tirea: changes, and which lefthook commands are due for each by the changed paths.
All: check-doc-content, lint-staged

Path conditions:
  check-doc-content: any of: docs/**/*.md
  lint-staged: any of: **/*.{cjs,mjs,js,ts,tsx,json,md,mdx}

🐛 fix(examples): fix AI SDK starter page title to Awaken
  examples/ai-sdk-starter/index.html
Due: none

♻️ refactor(ai-sdk): replace AiSdkMessage with UIMessage matching AI SDK v6 wire format
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none

♻️ refactor(copilotkit): use standard HttpAgent, remove PersistedThreadHttpAgent
  examples/copilotkit-starter/lib/copilotkit-app.ts
Due: lint-staged

🐛 fix(ai-sdk-starter): fix message deduplication in chat rendering
  examples/ai-sdk-starter/src/hooks/use-chat-session.ts
Due: lint-staged

🐛 fix(examples): reduce default agent max_rounds to prevent tool calling loops
  examples/src/starter_backend/mod.rs
Due: none

✅ test(runtime): add agent loop state machine event lifecycle integration tests
  crates/awaken-runtime/tests/event_lifecycle.rs
Due: none

🐛 fix(ai-sdk): return UIMessage format (parts) in thread_messages endpoint
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none

✨ feat(runtime): emit ToolCallReady event when streaming tool call arguments are finalized
  crates/awaken-runtime/src/loop_runner/inference.rs
Due: none

⬆️ chore(copilotkit): upgrade CopilotKit to v1.54.1 and @ag-ui/client to v0.0.48
  examples/copilotkit-starter/package-lock.json
  examples/copilotkit-starter/package.json
Due: lint-staged

🐛 fix(runtime): only emit approval request for ReplayToolCall suspensions, not frontend tools
  crates/awaken-runtime/src/loop_runner/step.rs
Due: none

♻️ refactor(examples): remove stopper/secured agents, merge rules into permission, enhance genui
  examples/src/starter_backend/mod.rs
Due: none

✨ feat(copilotkit-starter): integrate official generative UI renderers
  examples/copilotkit-starter/app/v1/page.tsx
  examples/copilotkit-starter/components/generative-ui-renderers.tsx
  examples/copilotkit-starter/package-lock.json
  examples/copilotkit-starter/package.json
Due: lint-staged

🔥 refactor(contract): delete unused WireEvent struct
  crates/awaken-contract/src/contract/event.rs
  crates/awaken-contract/tests/contract_integration.rs
Due: none

🐛 fix(ext-skills): await mcp_bridge periodic refresh task on stop
  crates/awaken-ext-skills/src/mcp_bridge.rs
Due: none

♻️ refactor(server): move delete_thread and list_summaries to thread_service
  crates/awaken-server/src/routes.rs
  crates/awaken-server/src/services/thread_service.rs
Due: none

♻️ refactor(ext-mcp): move MCP metadata from data._mcp to ToolResult.metadata
  crates/awaken-ext-mcp/src/manager.rs
  crates/awaken-ext-mcp/tests/mcp_tests.rs
Due: none

✨ feat(server): expose ToolResult.metadata in ag_ui and ai_sdk_v6 encoders
  crates/awaken-server/src/protocols/ag_ui/encoder.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/encoder.rs
Due: none

✨ feat(permission): pre-filter unconditionally denied tools at BeforeInference
  crates/awaken-ext-permission/src/plugin/filter.rs
  crates/awaken-ext-permission/src/plugin/filter_tests.rs
  crates/awaken-ext-permission/src/plugin/mod.rs
  crates/awaken-ext-permission/src/plugin/plugin.rs
  crates/awaken-runtime/src/loop_runner/tests.rs
  crates/awaken-runtime/src/state/command.rs
Due: none

🐛 fix(engine): defend against null tool call arguments from streaming parsers
  crates/awaken-runtime/src/engine/convert.rs
Due: none

🐛 fix(runtime): emit streaming usage before stop, remove duplicate RUN_ERROR, hide empty usage
  crates/awaken-runtime/src/engine/executor.rs
  crates/awaken-runtime/src/engine/streaming.rs
  crates/awaken-server/src/mailbox.rs
  examples/ai-sdk-starter/src/components/chat/metrics-panel.tsx
Due: lint-staged

🐛 fix(examples): default to DeepSeek adapter for streaming usage compatibility
  examples/src/starter_backend/mod.rs
Due: none

🔧 fix(mcp): register tools through Plugin lifecycle instead of bypassing it
  crates/awaken-ext-mcp/Cargo.toml
  crates/awaken-ext-mcp/src/plugin.rs
  crates/awaken-ext-mcp/tests/mcp_tests.rs
  crates/awaken-runtime/src/plugins/registry.rs
  examples/src/starter_backend/mod.rs
Due: none

📝 docs(adr): update ADR-0003 and ADR-0008 to reflect current implementation state
  docs/adr/0003-async-boundary-and-payload-format.md
  docs/adr/0008-state-scoping-and-parallel-safety.md
Due: check-doc-content, lint-staged

♻️ refactor(runtime): split tool call state from side effects, per-tool commit
  crates/awaken-runtime/src/loop_runner/step.rs
Due: none

🐛 fix(ai-sdk): add providerExecuted to server tool outputs, prevent auto-resubmit loop
  crates/awaken-server/src/protocols/ai_sdk_v6/encoder.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/mod.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/request.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/types.rs
  crates/awaken-server/tests/protocol_parity.rs
  examples/ai-sdk-starter/src/components/chat/chat-panel.tsx
  examples/ai-sdk-starter/src/hooks/use-chat-session.ts
  examples/ai-sdk-starter/src/lib/transport.test.ts
  examples/ai-sdk-starter/src/lib/transport.ts
Due: lint-staged

✨ feat(genui): add v0.8 A2UI and streaming UI agents
  crates/awaken-ext-generative-ui/src/a2ui/mod.rs
  crates/awaken-ext-generative-ui/src/a2ui/plugin.rs
  crates/awaken-ext-generative-ui/src/a2ui/tests.rs
  crates/awaken-ext-generative-ui/src/a2ui/tool.rs
  crates/awaken-ext-generative-ui/src/a2ui/types.rs
  crates/awaken-ext-generative-ui/src/a2ui/validation.rs
  crates/awaken-ext-generative-ui/src/json_render.rs
  crates/awaken-ext-generative-ui/src/lib.rs
  crates/awaken-ext-generative-ui/src/openui.rs
  crates/awaken-ext-generative-ui/src/run.rs
  crates/awaken-ext-generative-ui/src/sink.rs
  examples/Cargo.toml
  examples/examples/generative_ui.rs
  examples/src/starter_backend/generative_ui_tools.rs
  examples/src/starter_backend/mod.rs
  examples/src/starter_backend/scripted_executor.rs
Due: none

✨ feat(examples): use official renderers for generative UI
  e2e/tests/mailbox.spec.ts
  examples/ai-sdk-starter/index.html
  examples/ai-sdk-starter/package-lock.json
  examples/ai-sdk-starter/package.json
  examples/ai-sdk-starter/src/components/chat/chat-panel.tsx
  examples/ai-sdk-starter/src/components/chat/message-list.test.tsx
  examples/ai-sdk-starter/src/components/chat/message-list.tsx
  examples/ai-sdk-starter/src/components/chat/metrics-panel.tsx
  examples/ai-sdk-starter/src/components/tools/a2ui-protocol.test.ts
  examples/ai-sdk-starter/src/components/tools/a2ui-protocol.ts
  examples/ai-sdk-starter/src/components/tools/a2ui-surface.tsx
  examples/ai-sdk-starter/src/components/tools/generative-ui-renderers.test.tsx
  examples/ai-sdk-starter/src/components/tools/generative-ui-renderers.tsx
  examples/ai-sdk-starter/src/hooks/use-chat-session.ts
  examples/ai-sdk-starter/src/hooks/use-threads.test.tsx
  examples/ai-sdk-starter/src/hooks/use-threads.ts
  examples/ai-sdk-starter/src/lib/api-client.test.ts
  examples/ai-sdk-starter/src/lib/api-client.ts
  examples/ai-sdk-starter/src/lib/protocol.test.ts
  examples/ai-sdk-starter/src/lib/protocol.ts
  examples/ai-sdk-starter/src/lib/recommended-actions.ts
  examples/ai-sdk-starter/src/main.tsx
  examples/ai-sdk-starter/src/pages/playground-page.tsx
  examples/copilotkit-starter/components/generative-ui-renderers.tsx
  examples/copilotkit-starter/package-lock.json
  examples/copilotkit-starter/package.json
Due: lint-staged

✨ feat(examples): add permission filter live test with BeforeInference
  crates/awaken/examples/permission_filter_live.rs
Due: none

✨ feat(examples): optimize A2UI prompt to reduce tool call retries with weaker models
  examples/src/starter_backend/mod.rs
Due: none

✨ feat(a2ui): normalize flattened tool args to reduce validation retries
  crates/awaken-ext-generative-ui/src/a2ui/tests.rs
  crates/awaken-ext-generative-ui/src/a2ui/tool.rs
Due: none

♻️ refactor(ext): extract PeriodicRefresher, deduplicate 3 registry managers
  crates/awaken-contract/src/lib.rs
  crates/awaken-contract/src/periodic_refresh.rs
  crates/awaken-ext-mcp/src/manager.rs
  crates/awaken-ext-skills/src/mcp_bridge.rs
  crates/awaken-ext-skills/src/registry.rs
Due: none

♻️ refactor(runtime): reduce PhaseRuntime public API surface
  crates/awaken-runtime/src/builder.rs
  crates/awaken-runtime/src/cancellation.rs
  crates/awaken-runtime/src/extensions/background/manager.rs
  crates/awaken-runtime/src/extensions/background/tests.rs
  crates/awaken-runtime/src/extensions/background/types.rs
  crates/awaken-runtime/src/lib.rs
  crates/awaken-runtime/src/phase/engine.rs
  crates/awaken-runtime/src/registry/composite.rs
  crates/awaken-runtime/src/registry/config.rs
  crates/awaken-runtime/src/registry/memory.rs
  crates/awaken-runtime/src/registry/mod.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
Due: none

🧪 test(observability): add e2e tests for metrics pipeline
  crates/awaken-server/tests/e2e_tensorzero.rs
  crates/awaken-server/tests/phoenix_observability_e2e.rs
  crates/awaken/tests/observability_e2e.rs
Due: none

✨ feat(observability): extend MetricsSink trait, add CompositeSink and event spans
  crates/awaken-ext-observability/src/composite.rs
  crates/awaken-ext-observability/src/lib.rs
  crates/awaken-ext-observability/src/metrics.rs
  crates/awaken-ext-observability/src/otel.rs
  crates/awaken-ext-observability/src/sink.rs
  crates/awaken-ext-observability/tests/observability_integration.rs
Due: none

🧪 test(observability): add OTLP span verification and Phoenix e2e tests
  crates/awaken-ext-observability/src/otel.rs
  crates/awaken-ext-observability/src/plugin/hooks.rs
  crates/awaken-ext-observability/src/plugin/tests.rs
Due: none

✨ feat(server): add MCP server protocol exposing agents as tools
  Cargo.lock
  crates/awaken-server/Cargo.toml
  crates/awaken-server/src/protocols/mcp/adapter.rs
  crates/awaken-server/src/protocols/mcp/http.rs
  crates/awaken-server/src/protocols/mcp/mod.rs
  crates/awaken-server/src/protocols/mcp/stdio.rs
  crates/awaken-server/src/protocols/mod.rs
  crates/awaken-server/src/routes.rs
  crates/awaken-server/tests/protocol_mcp.rs
Due: none

🧪 test(coverage): add 220+ tests for skills, tool-pattern, mcp, server
  crates/awaken-ext-mcp/src/transport.rs
  crates/awaken-ext-skills/Cargo.toml
  crates/awaken-ext-skills/src/embedded.rs
  crates/awaken-ext-skills/src/plugin/active_instructions.rs
  crates/awaken-ext-skills/src/plugin/discovery.rs
  crates/awaken-ext-skills/src/plugin/subsystem.rs
  crates/awaken-ext-skills/src/plugin/tests.rs
  crates/awaken-ext-skills/src/registry.rs
  crates/awaken-ext-skills/src/skill.rs
  crates/awaken-ext-skills/src/skill_md.rs
  crates/awaken-server/src/mailbox.rs
  crates/awaken-server/src/transport/transcoder.rs
  crates/awaken-tool-pattern/src/matcher.rs
  crates/awaken-tool-pattern/src/parser.rs
  crates/awaken-tool-pattern/src/types.rs
Due: none

🐛 fix(server): emit RunFinish on error paths to properly close SSE streams
  crates/awaken-server/src/mailbox.rs
  examples/copilotkit-starter/components/generative-ui-renderers.tsx
Due: lint-staged

✨ feat(runtime): auto-cancel suspended run on new message, strip unpaired tool calls
  crates/awaken-runtime/src/runtime/agent_runtime/active_registry.rs
  crates/awaken-runtime/src/runtime/agent_runtime/control.rs
  crates/awaken-runtime/src/runtime/agent_runtime/runner.rs
  crates/awaken-server/src/mailbox.rs
Due: none
