Repository tirea-ai/tirea: changes, and which lefthook commands are due for each by the changed paths.
All: check-doc-content, lint-staged

Path conditions:
  check-doc-content: any of: docs/**/*.md
  lint-staged: any of: **/*.{cjs,mjs,js,ts,tsx,json,md,mdx}

✨ feat(stores): implement ProfileStore for FileStore
  crates/awaken-stores/src/file.rs
  crates/awaken-stores/src/memory.rs
Due: none

✅ test(runtime): add 30 agent config, executor, and resolve tests
  crates/awaken-runtime/src/agent/config.rs
  crates/awaken-runtime/src/execution/executor.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
Due: none

✅ test(ext): add 20 background task and permission tests
  crates/awaken-ext-permission/tests/permission_tests.rs
  crates/awaken-runtime/src/extensions/background/tests.rs
Due: none

✅ test(agent-loop): add 40 integration tests for uncarve parity
  crates/awaken/tests/agent_loop.rs
Due: none

🐛 fix(runtime): enable test-utils feature for integration tests
  crates/awaken-runtime/Cargo.toml
Due: none

⚡ feat(agentos): enable streaming-safe tool execution during response streaming
  crates/tirea-protocol-ag-ui/tests/agent_integration.rs
Due: none

📝 docs(adr): add ADR-0019 Mailbox architecture
  docs/adr/0019-mailbox-architecture.md
Due: check-doc-content, lint-staged

♻️ refactor(server): remove dead claim_token from MailboxWorkerStatus
  crates/awaken-server/src/mailbox.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/tests/a2a_http.rs
  crates/awaken-server/tests/run_api.rs
Due: none

🐛 fix(async): replace blocking std::sync::Mutex with tokio::sync::Mutex in async contexts
  crates/awaken-contract/src/contract/event_sink.rs
  crates/awaken-ext-generative-ui/Cargo.toml
  crates/awaken-ext-generative-ui/src/run.rs
  crates/awaken-ext-generative-ui/src/sink.rs
  crates/awaken-ext-mcp/src/transport.rs
  crates/awaken-ext-observability/Cargo.toml
  crates/awaken-ext-observability/src/plugin/hooks.rs
  crates/awaken-ext-observability/src/plugin/plugin.rs
  crates/awaken-ext-observability/src/plugin/shared.rs
Due: none

⬆️ deps(workspace): unify reqwest versions and standardize tokio features
  Cargo.lock
  Cargo.toml
  crates/awaken-contract/Cargo.toml
  crates/awaken-ext-generative-ui/Cargo.toml
  crates/awaken-ext-mcp/Cargo.toml
  crates/awaken-ext-observability/Cargo.toml
  crates/awaken-ext-permission/Cargo.toml
  crates/awaken-ext-reminder/Cargo.toml
  crates/awaken-ext-skills/Cargo.toml
  crates/awaken-runtime/Cargo.toml
  crates/awaken-server/Cargo.toml
  crates/awaken-stores/Cargo.toml
  crates/awaken/Cargo.toml
  examples/Cargo.toml
Due: none

📝 docs(project): add README.md and DEVELOPMENT.md
  DEVELOPMENT.md
  README.md
  lefthook.yml
Due: none

♻️ refactor(examples): extract shared starter_backend module
  Cargo.lock
  examples/Cargo.toml
  examples/examples/ai_sdk_starter.rs
  examples/examples/copilotkit_starter.rs
  examples/examples/research.rs
  examples/examples/starter_backend/main.rs
  examples/examples/travel.rs
  examples/src/lib.rs
  examples/src/starter_backend/frontend_tools.rs
  examples/src/starter_backend/mod.rs
  examples/src/starter_backend/research.rs
  examples/src/starter_backend/state.rs
  examples/src/starter_backend/tools.rs
  examples/src/starter_backend/travel.rs
Due: none

✨ feat(examples): add MCP demo server and shared assets
  Cargo.toml
  examples/ai-sdk-starter/agent/Cargo.toml
  examples/ai-sdk-starter/agent/src/main.rs
  examples/copilotkit-starter/agent/Cargo.toml
  examples/copilotkit-starter/agent/src/main.rs
  examples/shared/mcp-ui-demo-server.py
Due: none

✨ feat(examples): add AI SDK React/Vite frontend starter
  .gitignore
  examples/ai-sdk-starter/index.html
  examples/ai-sdk-starter/package-lock.json
  examples/ai-sdk-starter/package.json
  examples/ai-sdk-starter/postcss.config.js
  examples/ai-sdk-starter/src/app.tsx
  examples/ai-sdk-starter/src/components/chat/chat-input.tsx
  examples/ai-sdk-starter/src/components/chat/chat-panel.tsx
  examples/ai-sdk-starter/src/components/chat/message-list.tsx
  examples/ai-sdk-starter/src/components/chat/message-parts.tsx
  examples/ai-sdk-starter/src/components/chat/metrics-panel.tsx
  examples/ai-sdk-starter/src/components/chat/tool-progress-panel.tsx
  examples/ai-sdk-starter/src/components/layout/chat-layout.tsx
  examples/ai-sdk-starter/src/components/layout/thread-item.tsx
  examples/ai-sdk-starter/src/components/tools/a2ui-surface.tsx
  examples/ai-sdk-starter/src/components/tools/ask-user-dialog.tsx
  examples/ai-sdk-starter/src/components/tools/dialog-theme.test.tsx
  examples/ai-sdk-starter/src/components/tools/mcp-app-frame.test.tsx
  examples/ai-sdk-starter/src/components/tools/mcp-app-frame.tsx
  examples/ai-sdk-starter/src/components/tools/permission-dialog.tsx
  examples/ai-sdk-starter/src/components/tools/tool-card.tsx
  examples/ai-sdk-starter/src/components/tools/weather-card.tsx
  examples/ai-sdk-starter/src/globals.css
  examples/ai-sdk-starter/src/hooks/use-chat-session.ts
  examples/ai-sdk-starter/src/hooks/use-threads.ts
  examples/ai-sdk-starter/src/lib/api-client.test.ts
  examples/ai-sdk-starter/src/lib/api-client.ts
  examples/ai-sdk-starter/src/lib/recommended-actions.ts
  examples/ai-sdk-starter/src/lib/transport.test.ts
  examples/ai-sdk-starter/src/lib/transport.ts
  examples/ai-sdk-starter/src/main.tsx
  examples/ai-sdk-starter/src/pages/playground-page.tsx
  examples/ai-sdk-starter/src/vite-env.d.ts
  examples/ai-sdk-starter/tailwind.config.ts
  examples/ai-sdk-starter/tsconfig.json
  examples/ai-sdk-starter/vite.config.ts
Due: lint-staged

✅ test(e2e): add concurrent runs and thread isolation tests
  e2e/package-lock.json
  e2e/playwright.config.ts
  e2e/tests/a2a.spec.ts
  e2e/tests/ag-ui.spec.ts
  e2e/tests/agents.spec.ts
  e2e/tests/ai-sdk.spec.ts
  e2e/tests/concurrency.spec.ts
  e2e/tests/lifecycle.spec.ts
  e2e/tests/runs.spec.ts
  e2e/tests/sse-events.spec.ts
  e2e/tests/tools.spec.ts
  examples/ai-sdk-starter/.env.example
  examples/copilotkit-starter/.env.example
Due: lint-staged

✅ test(e2e): add protocol-specific behavior tests and final regression
  e2e/tests/errors.spec.ts
  e2e/tests/mailbox.spec.ts
  e2e/tests/messages.spec.ts
  e2e/tests/protocols.spec.ts
  e2e/tests/run-status.spec.ts
Due: lint-staged

✅ feat(examples): add limited agent variant for stop policy demo + E2E tests
  e2e/tests/stop-policy.spec.ts
  examples/src/starter_backend/mod.rs
Due: lint-staged

♻️ refactor(runtime): fix DX issues from multi-scenario audit
  crates/awaken-ext-generative-ui/src/a2ui/mod.rs
  crates/awaken-ext-generative-ui/src/lib.rs
  crates/awaken-ext-observability/src/lib.rs
  crates/awaken-ext-observability/src/plugin/mod.rs
  crates/awaken-ext-observability/src/plugin/plugin.rs
  crates/awaken-ext-permission/src/plugin/plugin.rs
  crates/awaken-ext-reminder/src/plugin/plugin.rs
  crates/awaken-ext-reminder/tests/reminder_tests.rs
  crates/awaken-ext-skills/src/lib.rs
  crates/awaken-runtime/src/agent/state/tool_call_lifecycle.rs
  crates/awaken-runtime/src/builder.rs
  crates/awaken-runtime/src/loop_runner/resume.rs
  crates/awaken-runtime/src/loop_runner/step.rs
  crates/awaken-runtime/src/registry/composite.rs
  crates/awaken-runtime/src/registry/config.rs
  crates/awaken-runtime/src/registry/memory.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
  crates/awaken-runtime/src/runtime/agent_runtime/runner.rs
  crates/awaken-server/src/mailbox.rs
  crates/awaken/tests/agent_loop.rs
Due: none

✅ test(e2e): add advanced agent variants and enhanced features E2E tests
  e2e/tests/advanced-agents.spec.ts
Due: lint-staged

♻️ refactor(server): remove state filtering — tool calls are the frontend data channel
  crates/awaken-runtime/src/loop_runner/checkpoint.rs
  crates/awaken-server/src/protocols/ag_ui/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none

⬆️ chore(deps): upgrade schemars 0.8 → 1.x
  Cargo.lock
  Cargo.toml
Due: none

✨ feat(contract): add tool schema generation, sanitization, and validation
  crates/awaken-contract/src/contract/mod.rs
  crates/awaken-contract/src/contract/tool.rs
  crates/awaken-contract/src/contract/tool_schema.rs
Due: none

✨ feat(contract): re-export TypedTool and schema utilities
  crates/awaken-contract/src/lib.rs
  crates/awaken/src/lib.rs
Due: none

♻️ refactor(server): move context injection to protocol handlers, remove from mailbox
  crates/awaken-server/src/lib.rs
  crates/awaken-server/src/mailbox.rs
  crates/awaken-server/src/protocols/ag_ui/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/src/request.rs
  crates/awaken-server/src/routes.rs
Due: none

♻️ refactor(server): thread-keyed replay buffers, AI SDK resume URL compat, 204 status
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/tests/transport_tests.rs
  docs/adr/protocol-object-model-mapping.md
Due: check-doc-content, lint-staged

🐛 fix(examples): normalize OPENAI_BASE_URL trailing slash for genai compatibility
  examples/src/starter_backend/mod.rs
Due: none

✅ test(e2e): adapt tests for both scripted and real LLM environments
  e2e/playwright.config.ts
  e2e/tests/generative-ui.spec.ts
  e2e/tests/interrupts.spec.ts
  e2e/tests/tool-execution.spec.ts
Due: lint-staged

⚡ perf(examples): optimize agent variant prompts and max_rounds for real LLM
  examples/src/starter_backend/mod.rs
Due: none

✅ test(e2e): add tool call lifecycle and event ordering tests
  e2e/tests/error-recovery.spec.ts
  e2e/tests/llm-integration.spec.ts
  e2e/tests/real-llm.spec.ts
  e2e/tests/tool-lifecycle.spec.ts
Due: lint-staged

✨ feat(server): add SSE heartbeat to prevent client timeouts during LLM inference
  crates/awaken-server/src/http_sse.rs
  crates/awaken-server/tests/transport_tests.rs
Due: none

✅ test(e2e): fix timeout for multi-round tool-calling agents
  e2e/tests/advanced-agents.spec.ts
  e2e/tests/agents.spec.ts
  e2e/tests/concurrency.spec.ts
  e2e/tests/lifecycle.spec.ts
  e2e/tests/phase-hooks.spec.ts
  e2e/tests/protocols.spec.ts
  e2e/tests/sse-events.spec.ts
Due: lint-staged

♻️ refactor(server): extract shared MessageQueryParams and default_limit
  crates/awaken-server/src/lib.rs
  crates/awaken-server/src/protocols/ag_ui/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/src/query.rs
  crates/awaken-server/src/routes.rs
Due: none

♻️ refactor(a2a): use DelegateRunStatus::Display instead of manual match
  crates/awaken-runtime/src/extensions/a2a/agent_tool.rs
Due: none

🔥 chore(builder): remove unused StopPolicyConflict variant
  crates/awaken-runtime/src/builder.rs
Due: none

🔥 chore(state): remove dead rollback_install parameter
  crates/awaken-runtime/src/state/store.rs
Due: none

♻️ refactor(registry): remove ResolvedRun intermediate, return ResolvedAgent directly
  crates/awaken-contract/src/registry_spec.rs
  crates/awaken-runtime/src/registry/resolve/mod.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
Due: none

✅ test(e2e): fix remaining 2 timeout failures with fetch+abort pattern
  e2e/tests/generative-ui.spec.ts
  e2e/tests/llm-integration.spec.ts
  e2e/tests/tool-execution.spec.ts
Due: lint-staged

✨ feat(server): add thread-centric and agent-scoped REST URL routes
  crates/awaken-server/src/protocols/ag_ui/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none
