Repository tirea-ai/tirea: changes, and which lefthook commands are due for each by the changed paths.
All: check-doc-content, lint-staged

Path conditions:
  check-doc-content: any of: docs/**/*.md
  lint-staged: any of: **/*.{cjs,mjs,js,ts,tsx,json,md,mdx}

✨ feat(runtime): emit RunFinish(Suspended) before wait, reset encoder guard on resume
  crates/awaken-runtime/src/loop_runner/orchestrator.rs
  crates/awaken-server/src/protocols/ag_ui/encoder.rs
Due: none

🧪 test(encoders): add approval Allow/Deny, suspend/resume, and auto-cancel lifecycle tests
  crates/awaken-server/src/protocols/ag_ui/encoder.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/encoder.rs
Due: none

🐛 fix(ai-sdk): emit finish(tool-calls) on suspend to activate frontend tool UI
  crates/awaken-server/src/protocols/ai_sdk_v6/encoder.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/tests/protocol_ai_sdk.rs
Due: none

♻️ refactor(contract): FrontEndTool returns success immediately, no backend suspend
  crates/awaken-contract/src/contract/tool.rs
Due: none

🐛 fix(ai-sdk): return empty stream for stale resume requests instead of 400 error
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none

♻️ refactor(examples): restore FrontendToolPlugin intercept for set_background_color suspend
  examples/src/starter_backend/frontend_tools.rs
  examples/src/starter_backend/mod.rs
  examples/src/starter_backend/tools.rs
Due: none

🐛 fix(ai-sdk): suppress finish on suspend to keep SSE open for frontend tool interaction
  crates/awaken-server/src/protocols/ai_sdk_v6/encoder.rs
  crates/awaken-server/tests/protocol_ai_sdk.rs
Due: none

📝 docs(run-lifecycle): detail ToolCall state derivation, concurrent model, SSE reconnection
  docs/book/src/explanation/run-lifecycle-and-phases.md
Due: check-doc-content, lint-staged

🐛 fix(ai-sdk): keep suspended tool as input-available in history API
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
Due: none

🐛 fix(mailbox): claim_job exclusivity, Claiming dispatch, typed RunRequestExtras
  crates/awaken-server/src/mailbox.rs
  crates/awaken-stores/src/memory_mailbox.rs
Due: none

🐛 fix(mailbox): sync Queued variant, fix tests, hard-fail serde, accurate status
  crates/awaken-runtime/src/runtime/agent_runtime/runner.rs
  crates/awaken-server/src/mailbox.rs
  crates/awaken-server/src/routes.rs
  crates/awaken-stores/src/memory_mailbox.rs
Due: none

🧪 test(mailbox): fill coverage gaps for corrupt extras, reconnect, concurrent claim
  crates/awaken-server/src/mailbox.rs
  crates/awaken-stores/src/memory_mailbox.rs
Due: none

🐛 fix(test): fix flaky reconnect test and stores compilation error
  crates/awaken-server/src/mailbox.rs
  crates/awaken-stores/src/memory_mailbox.rs
Due: none

🧪 test(coverage): add tests across 10 low-coverage modules
  crates/awaken-ext-generative-ui/src/run.rs
  crates/awaken-ext-mcp/src/transport.rs
  crates/awaken-runtime/src/engine/executor.rs
  crates/awaken-runtime/src/extensions/a2a/a2a_backend.rs
  crates/awaken-runtime/src/extensions/background/tests.rs
  crates/awaken-runtime/src/runtime/agent_runtime/mod.rs
  crates/awaken-server/src/protocols/ag_ui/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/http.rs
  crates/awaken-server/src/protocols/ai_sdk_v6/request.rs
  crates/awaken-server/src/routes.rs
Due: none

✨ feat(config): unified ConfigStore with ModelSpec/ProviderSpec/McpServerSpec (ADR-0021)
  Cargo.lock
  crates/awaken-contract/src/contract/config_store.rs
  crates/awaken-contract/src/contract/inference.rs
  crates/awaken-contract/src/contract/mod.rs
  crates/awaken-contract/src/lib.rs
  crates/awaken-contract/src/registry_spec.rs
  crates/awaken-runtime/src/builder.rs
  crates/awaken-runtime/src/registry/config.rs
  crates/awaken-runtime/src/registry/memory.rs
  crates/awaken-runtime/src/registry/mod.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
  crates/awaken-runtime/src/registry/resolver.rs
  crates/awaken-runtime/src/registry/traits.rs
  crates/awaken-server/tests/a2a_http.rs
  crates/awaken-server/tests/a2a_loopback.rs
  crates/awaken-server/tests/http_api.rs
  crates/awaken-server/tests/protocol_ag_ui_e2e.rs
  crates/awaken-server/tests/protocol_mcp.rs
  crates/awaken-server/tests/protocol_parity.rs
  crates/awaken-server/tests/run_api.rs
  crates/awaken-stores/src/file_config.rs
  crates/awaken-stores/src/lib.rs
  crates/awaken-stores/tests/config_store.rs
  crates/awaken/src/prelude.rs
  docs/adr/0021-agent-management-system.md
  examples/src/starter_backend/mod.rs
Due: check-doc-content, lint-staged

🐛 fix(examples): cast CopilotKit render props for API compatibility
  examples/copilotkit-starter/app/canvas/page.tsx
Due: lint-staged

✨ feat(server): /v1/config CRUD, capabilities endpoint, store-backed registries
  crates/awaken-runtime/src/registry/store_backed.rs
  crates/awaken-runtime/src/runtime/agent_runtime/mod.rs
  crates/awaken-server/Cargo.toml
  crates/awaken-server/src/app.rs
  crates/awaken-server/src/config_routes.rs
  crates/awaken-server/src/lib.rs
  crates/awaken-server/src/routes.rs
  crates/awaken-server/tests/config_api.rs
Due: none

✨ feat(ui): admin panel with agent editor, dynamic JSON Schema forms, AI config assistant
  examples/ai-sdk-starter/package-lock.json
  examples/ai-sdk-starter/package.json
  examples/ai-sdk-starter/src/app.tsx
  examples/ai-sdk-starter/src/components/admin/admin-layout.tsx
  examples/ai-sdk-starter/src/components/layout/chat-layout.tsx
  examples/ai-sdk-starter/src/lib/config-api.ts
  examples/ai-sdk-starter/src/pages/admin/agent-editor-page.tsx
  examples/ai-sdk-starter/src/pages/admin/agents-page.tsx
  examples/ai-sdk-starter/src/pages/admin/assistant-page.tsx
  examples/ai-sdk-starter/src/pages/admin/dashboard-page.tsx
  examples/ai-sdk-starter/src/pages/admin/models-page.tsx
  examples/ai-sdk-starter/src/pages/admin/providers-page.tsx
Due: lint-staged

🐛 fix(deferred-tools): preserve runtime promotes, skill activation promotes deferred tools
  Cargo.lock
  crates/awaken-ext-deferred-tools/src/plugin/hooks.rs
  crates/awaken-ext-deferred-tools/src/plugin/plugin.rs
  crates/awaken-ext-deferred-tools/src/tests/policy_tests.rs
  crates/awaken-ext-skills/Cargo.toml
  crates/awaken-ext-skills/src/tools.rs
  crates/awaken-ext-skills/tests/tool_state_tests.rs
  crates/awaken-runtime/src/registry/resolve/pipeline.rs
Due: none

✨ feat(skills): visibility mechanism-policy separation and param substitution (ADR-0020)
  crates/awaken-ext-skills/src/embedded.rs
  crates/awaken-ext-skills/src/lib.rs
  crates/awaken-ext-skills/src/mcp_bridge.rs
  crates/awaken-ext-skills/src/plugin/active_instructions.rs
  crates/awaken-ext-skills/src/plugin/discovery.rs
  crates/awaken-ext-skills/src/plugin/tests.rs
  crates/awaken-ext-skills/src/registry.rs
  crates/awaken-ext-skills/src/skill.rs
  crates/awaken-ext-skills/src/skill_md.rs
  crates/awaken-ext-skills/src/tools.rs
  crates/awaken-ext-skills/src/visibility.rs
  docs/adr/0020-skill-visibility-mechanism-policy-separation.md
Due: check-doc-content, lint-staged

📝 docs: comprehensive README, book docs, migration guide, and API alignment fixes
  DEVELOPMENT.md
  README.md
  crates/awaken-contract/src/contract/tool.rs
  crates/awaken-contract/src/registry_spec.rs
  crates/awaken-runtime/src/engine/executor.rs
  crates/awaken-runtime/src/engine/retry.rs
  crates/awaken-runtime/src/loop_runner/step.rs
  crates/awaken-runtime/src/registry/resolver.rs
  docs/book/src/SUMMARY.md
  docs/book/src/appendix/faq.md
  docs/book/src/appendix/migration-from-tirea.md
  docs/book/src/explanation/agent-resolution.md
  docs/book/src/explanation/hitl-and-mailbox.md
  docs/book/src/explanation/plugin-internals.md
  docs/book/src/explanation/tool-and-plugin-boundary.md
  docs/book/src/how-to/add-a-tool.md
  docs/book/src/how-to/report-tool-progress.md
  docs/book/src/how-to/testing-strategy.md
  docs/book/src/how-to/use-deferred-tools.md
  docs/book/src/how-to/use-generative-ui.md
  docs/book/src/reference/cancellation.md
  docs/book/src/reference/config.md
  docs/book/src/reference/effects.md
  docs/book/src/reference/overview.md
  docs/book/src/reference/scheduled-actions.md
  docs/book/src/reference/tool-trait.md
  docs/book/src/tutorials/first-agent.md
  docs/book/src/tutorials/first-tool.md
  docs/book/src/zh-CN/explanation/agent-resolution.md
  docs/book/src/zh-CN/explanation/plugin-internals.md
  docs/book/src/zh-CN/how-to/testing-strategy.md
  docs/book/src/zh-CN/how-to/use-deferred-tools.md
  docs/book/src/zh-CN/tutorials/first-agent.md
  examples/ai-sdk-starter/README.md
  examples/copilotkit-starter/README.md
  examples/src/starter_backend/mod.rs
Due: check-doc-content, lint-staged

✅ test(doctest): add book code example compile-testing via awaken-doctest crate
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/awaken-doctest/Cargo.toml
  crates/awaken-doctest/src/lib.rs
  docs/book/book.toml
  docs/book/src/how-to/add-a-plugin.md
  docs/book/src/how-to/add-a-tool.md
  docs/book/src/how-to/use-reminder-plugin.md
  docs/book/src/reference/config.md
  docs/book/src/reference/errors.md
  docs/book/src/reference/events.md
  docs/book/src/reference/protocols/ag-ui.md
  docs/book/src/reference/protocols/ai-sdk-v6.md
  docs/book/src/tutorials/first-agent.md
  docs/book/src/tutorials/first-tool.md
  docs/book/src/zh-CN/tutorials/first-agent.md
  docs/book/src/zh-CN/tutorials/first-tool.md
  scripts/build-docs.sh
  scripts/test-book.sh
Due: check-doc-content, lint-staged

🐛 fix(contract): normalize null args to empty object in TypedTool blanket impl
  crates/awaken-contract/src/contract/tool.rs
Due: none

🐛 fix(runtime): preserve initial anthropic tool arg deltas
  crates/awaken-runtime/src/engine/executor.rs
  crates/awaken-runtime/src/engine/streaming.rs
Due: none

✨ feat(config): add unified agent config with catalog overrides
  Cargo.lock
  crates/awaken-ext-generative-ui/Cargo.toml
  crates/awaken-ext-generative-ui/src/a2ui/mod.rs
  crates/awaken-ext-generative-ui/src/a2ui/plugin.rs
  crates/awaken-ext-generative-ui/src/a2ui/tests.rs
  crates/awaken-ext-generative-ui/src/a2ui/tool.rs
  crates/awaken-ext-generative-ui/src/a2ui/validation.rs
  crates/awaken-ext-generative-ui/src/json_render.rs
  crates/awaken-ext-generative-ui/src/lib.rs
  crates/awaken-tool-pattern/src/matcher.rs
  crates/awaken/src/prelude.rs
  docs/book/src/how-to/use-generative-ui.md
  docs/book/src/zh-CN/how-to/use-generative-ui.md
  examples/src/starter_backend/generative_ui_config.rs
  examples/src/starter_backend/mod.rs
Due: check-doc-content, lint-staged

🐛 fix(ai-sdk-v6): skip provider-executed tool results in resume detection
  crates/awaken-server/src/protocols/ai_sdk_v6/request.rs
  crates/awaken-server/tests/ai_sdk_multi_turn.rs
Due: none

🔧 ci(release): increase publish interval to 60s, add retry tolerance
  .github/workflows/release.yml
Due: none

🔖 chore(release): bump workspace version to 0.1.1
  Cargo.lock
  Cargo.toml
  crates/awaken-doctest/Cargo.toml
Due: none

🔧 chore(version): bump to 0.1.2-dev
  Cargo.lock
  Cargo.toml
  crates/awaken-doctest/Cargo.toml
Due: none
