Repository tirea-ai/tirea: changes, and which lefthook commands are due for each by the changed paths.
All: check-doc-content, lint-staged

Path conditions:
  check-doc-content: any of: docs/**/*.md
  lint-staged: any of: **/*.{cjs,mjs,js,ts,tsx,json,md,mdx}

♻️ refactor(skills): replace HashMap/Vec with Arc<dyn SkillRegistry>
  crates/carve-agent-extension-skills/src/combined_plugin.rs
  crates/carve-agent-extension-skills/src/discovery_plugin.rs
  crates/carve-agent-extension-skills/src/embedded_registry.rs
  crates/carve-agent-extension-skills/src/subsystem.rs
  crates/carve-agent-extension-skills/src/tools.rs
  crates/carve-agent-loop/examples/live_deepseek_skills.rs
  crates/carve-agent/src/prelude.rs
  crates/carve-agentos/src/orchestrator/wiring.rs
  crates/carve-protocol-ag-ui/tests/skills_agui_wiring.rs
Due: none

🔧 chore(repo): update repository links to tirea
  Cargo.toml
  docs/book/book.toml
Due: none

🔧 fix(e2e): add travel project to Playwright suite and fix flaky tests
  e2e/examples/travel-ui/package-lock.json
  e2e/examples/travel-ui/package.json
  e2e/playwright/tests/ai-sdk-chat.spec.ts
  e2e/playwright/tests/copilotkit-chat.spec.ts
  scripts/e2e-playwright.sh
Due: lint-staged

♻️ refactor(agent-loop): move ResolvedRun from tirea-agentos to tirea-agent-loop
  crates/tirea-agent-loop/src/runtime/loop_runner/mod.rs
  crates/tirea-agentos/src/orchestrator/mod.rs
  crates/tirea-protocol-ag-ui/Cargo.toml
  crates/tirea-protocol-ag-ui/src/runtime.rs
Due: none

🐛 fix(agent-loop): dedupe frontend pending events and fix skills tests
  crates/tirea-agent-loop/src/runtime/loop_runner/mod.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  crates/tirea-agent-loop/tests/skills_integration.rs
Due: none

📝 docs(book): reorganize docs and add runnable API/protocol guides
  docs/book/src/SUMMARY.md
  docs/book/src/appendix/faq.md
  docs/book/src/appendix/glossary.md
  docs/book/src/appendix/migration.md
  docs/book/src/concepts/agent-framework.md
  docs/book/src/concepts/server-gateway.md
  docs/book/src/concepts/typed-state.md
  docs/book/src/explanation/architecture.md
  docs/book/src/explanation/design-tradeoffs.md
  docs/book/src/explanation/persistence-and-versioning.md
  docs/book/src/explanation/run-lifecycle-and-phases.md
  docs/book/src/explanation/state-and-patch-model.md
  docs/book/src/explanation/tool-and-plugin-boundary.md
  docs/book/src/guides/building-agents.md
  docs/book/src/guides/getting-started.md
  docs/book/src/how-to/add-a-plugin.md
  docs/book/src/how-to/add-a-tool.md
  docs/book/src/how-to/build-an-agent.md
  docs/book/src/how-to/debug-a-run.md
  docs/book/src/how-to/expose-http-sse.md
  docs/book/src/how-to/expose-nats.md
  docs/book/src/how-to/use-file-store.md
  docs/book/src/how-to/use-postgres-store.md
  docs/book/src/introduction.md
  docs/book/src/reference/api.md
  docs/book/src/reference/config.md
  docs/book/src/reference/derive-macro.md
  docs/book/src/reference/errors.md
  docs/book/src/reference/events.md
  docs/book/src/reference/http-api.md
  docs/book/src/reference/overview.md
  docs/book/src/reference/protocols/ag-ui.md
  docs/book/src/reference/protocols/ai-sdk-v6.md
  docs/book/src/reference/protocols/nats.md
  docs/book/src/reference/run-context.md
  docs/book/src/reference/state-ops.md
  docs/book/src/reference/thread-model.md
  docs/book/src/tutorials/first-agent.md
  docs/book/src/tutorials/first-tool.md
  scripts/build-docs.sh
Due: check-doc-content, lint-staged

🐛 fix(agent-loop): filter orphaned tool results from LLM messages
  crates/tirea-agent-loop/src/runtime/loop_runner/core.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
Due: none

🐛 fix(agent-loop): emit ToolCallStart for permission intercept frontend tools
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  e2e/playwright/tests/copilotkit-chat.spec.ts
Due: lint-staged

🔒 fix(permission): make approval one-shot per call_id instead of permanent
  crates/tirea-extension-permission/src/lib.rs
Due: none

♻️ refactor(permission): delete approved_calls entry after consumption
  crates/tirea-extension-permission/src/lib.rs
Due: none

✅ test(protocol): add copilotkit compatibility contract tests
  crates/tirea-protocol-ag-ui/tests/runtime_contract_integration.rs
Due: none

🧪 test(ai-sdk): expand stream coverage and harden tensorzero readiness
  crates/tirea-agentos-server/tests/e2e_tensorzero.rs
  crates/tirea-protocol-ai-sdk-v6/src/encoder.rs
  e2e/playwright/tests/ai-sdk-chat.spec.ts
Due: lint-staged

🧪 test(ai-sdk): add request-shape and history input-state coverage
  crates/tirea-agentos-server/tests/http_api.rs
Due: none

🐛 fix(interaction): remove backward-compatible replay paths
  crates/tirea-extension-interaction/src/interaction_response.rs
  crates/tirea-extension-permission/src/lib.rs
  crates/tirea-protocol-ag-ui/src/request.rs
  crates/tirea-protocol-ag-ui/tests/agent_integration.rs
  crates/tirea-protocol-ag-ui/tests/request_semantics.rs
Due: none

✅ feat(ai-sdk): align protocol adapters and frontend integration
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_http_matrix.rs
  crates/tirea-agentos-server/tests/functional_protocol_matrix.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-protocol-ai-sdk-v6/src/history_encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
  crates/tirea-protocol-ai-sdk-v6/src/message.rs
  crates/tirea-protocol-ai-sdk-v6/src/output_encoder.rs
  crates/tirea-protocol-ai-sdk-v6/tests/runtime_contract_integration.rs
  e2e/ai-sdk-frontend/app/api/chat/route.ts
  e2e/ai-sdk-frontend/app/page.tsx
Due: lint-staged

✨ feat(ai-sdk): align v6 request shape and add ask/approval e2e
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
  e2e/ai-sdk-frontend/app/api/chat/route.ts
  e2e/ai-sdk-frontend/app/page.tsx
  e2e/playwright/tests/ai-sdk-chat.spec.ts
Due: lint-staged

✨ feat(ai-sdk-e2e): add permission agent profile
  e2e/ai-sdk-frontend/agent-config.json
Due: lint-staged

✅ test(agent_tools): add self-target and prompt-injection coverage
  crates/tirea-agentos/src/orchestrator/agent_tools/tests.rs
Due: none

🐛 fix(ag-ui): preserve frontend tool payloads and avoid redundant permission prompts
  crates/tirea-extension-interaction/src/interaction_response.rs
  crates/tirea-extension-permission/src/lib.rs
  crates/tirea-protocol-ag-ui/src/runtime.rs
Due: none

🐛 fix(agent-loop): support parallel tools with one active pending interaction
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tool_exec.rs
  crates/tirea-protocol-ag-ui/src/runtime.rs
Due: none

✅ test(ai-sdk): add approval-response and interaction edge cases
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-agentos/src/orchestrator/agent_tools/tests.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
  crates/tirea-protocol-ai-sdk-v6/tests/interaction_error_mapping.rs
Due: none

✨ feat(agent-event): bridge reasoning/encrypted stream events to AG-UI
  crates/tirea-agent-loop/src/runtime/loop_runner/config.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/streaming.rs
  crates/tirea-agentos/src/orchestrator/agent_definition.rs
  crates/tirea-contract/src/event/stream.rs
  crates/tirea-protocol-ag-ui/src/context.rs
  crates/tirea-protocol-ag-ui/src/runtime.rs
  crates/tirea-protocol-ai-sdk-v6/src/encoder.rs
Due: none

✨ feat(ai-sdk-v6): align UIMessage and stream chunks with SDK v6
  crates/tirea-protocol-ai-sdk-v6/src/encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/events.rs
  crates/tirea-protocol-ai-sdk-v6/src/history_encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/lib.rs
  crates/tirea-protocol-ai-sdk-v6/src/message.rs
  crates/tirea-protocol-ai-sdk-v6/src/runtime.rs
  crates/tirea-protocol-ai-sdk-v6/tests/interaction_error_mapping.rs
Due: none

✅ test(ai-sdk-v6): add protocol coverage and remove adapter duplication
  crates/tirea-protocol-ai-sdk-v6/src/encoder.rs
  crates/tirea-protocol-ai-sdk-v6/src/events.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
  crates/tirea-protocol-ai-sdk-v6/src/message.rs
Due: none

🔧 fix(ai-sdk-v6): add runtime integration dependencies
  crates/tirea-protocol-ai-sdk-v6/Cargo.toml
Due: none

✨ refactor(tirea-state): fix nested sink propagation and in-place patch apply
  crates/tirea-state-derive/src/codegen/state_ref.rs
  crates/tirea-state/src/apply.rs
  crates/tirea-state/src/doc_cell.rs
  crates/tirea-state/src/manager.rs
  crates/tirea-state/src/runtime.rs
  crates/tirea-state/src/state.rs
  crates/tirea-state/tests/context_integration.rs
  crates/tirea-state/tests/derive_integration.rs
  crates/tirea-state/tests/runtime_integration.rs
Due: none

✨ refactor(tirea-state): migrate state writes to Result semantics
  crates/tirea-state-derive/src/codegen/state_ref.rs
  crates/tirea-state/src/doc_cell.rs
  crates/tirea-state/src/state.rs
  crates/tirea-state/tests/context_integration.rs
  crates/tirea-state/tests/derive_integration.rs
  crates/tirea-state/tests/flatten_tests.rs
  crates/tirea-state/tests/manager_integration.rs
  crates/tirea-state/tests/runtime_integration.rs
  crates/tirea-state/tests/thread_safety_tests.rs
Due: none

✅ fix(protocol): clarify runtime request mapping and restore parity tests
  crates/tirea-agentos-server/tests/cross_crate_integration_matrix.rs
  crates/tirea-agentos-server/tests/functional_protocol_matrix.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-contract/src/tool/context.rs
  crates/tirea-protocol-ag-ui/src/input_adapter.rs
  crates/tirea-protocol-ag-ui/src/request.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
Due: none

✅ refactor(ag-ui): align protocol naming and deduplicate types/events
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/src/nats.rs
  crates/tirea-agentos-server/tests/functional_protocol_matrix.rs
  crates/tirea-agentos-server/tests/protocol_parity.rs
  crates/tirea-protocol-ag-ui/src/context.rs
  crates/tirea-protocol-ag-ui/src/events.rs
  crates/tirea-protocol-ag-ui/src/history_encoder.rs
  crates/tirea-protocol-ag-ui/src/input_adapter.rs
  crates/tirea-protocol-ag-ui/src/lib.rs
  crates/tirea-protocol-ag-ui/src/output_encoder.rs
  crates/tirea-protocol-ag-ui/src/runtime.rs
  crates/tirea-protocol-ag-ui/src/types.rs
  crates/tirea-protocol-ag-ui/tests/agent_integration.rs
  crates/tirea-protocol-ag-ui/tests/message_id_contract.rs
  crates/tirea-protocol-ag-ui/tests/request_semantics.rs
  crates/tirea-protocol-ag-ui/tests/runtime_contract_integration.rs
  crates/tirea-protocol-ag-ui/tests/skills_agui_wiring.rs
Due: none

✅ refactor(ai-sdk-v6): reuse protocol tool state parsing in input adapter
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
Due: none

✅ fix(tests): align AI SDK payloads and stabilize e2e protocol suites
  crates/tirea-agent-loop/tests/phoenix_observability_e2e.rs
  crates/tirea-agentos-server/tests/common/mod.rs
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_http_matrix.rs
  crates/tirea-agentos-server/tests/e2e_nats_postgres.rs
  crates/tirea-agentos-server/tests/e2e_tensorzero.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-agentos-server/tests/phoenix_observability_e2e.rs
  e2e/phoenix/test-helpers/src/lib.rs
Due: none

✨ feat(ai-sdk): align trigger/messageId snapshot and resume stream
  crates/tirea-agentos-server/src/http.rs
  crates/tirea-agentos-server/tests/http_api.rs
  crates/tirea-protocol-ai-sdk-v6/src/input_adapter.rs
Due: none

✅ fix(agentos-server): stabilize AI SDK multiturn history e2e semantics
  crates/tirea-agentos-server/tests/e2e_deepseek.rs
  crates/tirea-agentos-server/tests/e2e_http_matrix.rs
Due: none

🐛 fix(agent-loop): filter superseded pending approval placeholders
  crates/tirea-agent-loop/src/runtime/loop_runner/core.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
Due: none

🐛 fix(state): make runtime patch writes non-panicking
  crates/tirea-agent-loop/src/runtime/loop_runner/core.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/plugin_runtime.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/stream_runner.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
  crates/tirea-agent-loop/src/runtime/loop_runner/tool_exec.rs
  crates/tirea-agentos/src/orchestrator/agent_tools/plugins.rs
  crates/tirea-agentos/src/orchestrator/agent_tools/state.rs
  crates/tirea-extension-permission/src/lib.rs
  crates/tirea-extension-reminder/src/lib.rs
Due: none

🐛 fix(state): propagate write failures across interaction and tool paths
  crates/tirea-agent-loop/examples/live_deepseek.rs
  crates/tirea-agent-loop/examples/live_deepseek_skills.rs
  crates/tirea-agentos/src/orchestrator/agent_tools/tools.rs
  crates/tirea-extension-interaction/src/interaction_plugin.rs
  crates/tirea-extension-interaction/src/interaction_response.rs
  crates/tirea-extension-skills/src/tools.rs
  e2e/examples/src/research/tools.rs
  e2e/examples/src/travel/tools.rs
Due: none

✅ test(runtime): cover pending invocation replay and cancellation paths
  crates/tirea-agent-loop/src/runtime/loop_runner/tests.rs
Due: none

📝 docs(book): add ai-sdk and copilotkit integration guides
  docs/book/src/SUMMARY.md
  docs/book/src/how-to/expose-http-sse.md
  docs/book/src/how-to/integrate-ai-sdk-frontend.md
  docs/book/src/how-to/integrate-copilotkit-ag-ui.md
  docs/book/src/reference/ecosystem-integrations.md
Due: check-doc-content, lint-staged

✅ test(state): assert Result-based state writes in contract and reminder tests
  crates/tirea-contract/src/runtime/activity.rs
  crates/tirea-contract/src/tool/context.rs
  crates/tirea-extension-reminder/src/lib.rs
Due: none
